{% extends "layout/base.html" %} {% block title %}Download dirty data{% endblock
%} {% block content %}
<section
  class="h-100 gradient-form"
  style="background-color: rgb(237, 243, 243)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-2 pb-1" style="width: 100%">
                    Download Twitter Data Comments
                  </h4>
                </div>
                <form>
                  <div class="form-outline mb-3">
                    <label class="form-label mt-3" for="form2Example11"
                      >Topic</label
                    >
                    <input
                      type="text"
                      id="form2Example11"
                      class="form-control"
                      placeholder="inflation"
                    />
                  </div>
                  <div class="form-outline mb-3">
                    <label class="form-label mt-3" for="form2Example22"
                      >Count data</label
                    >
                    <input
                      type="number"
                      id="form2Example22"
                      class="form-control"
                      placeholder="10"
                    />
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <button type="button" class="btn btn-outline-primary">
                      Download
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center"
              style="background-color: rgb(209, 173, 126)"
            >
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Quick tip:</h4>
                <p class="small mb-0">
                  Topic label is for downloading text based on the topic which
                  contains whatever you want in topic form such as inflation. If
                  you input inflation, the API will scrape from Twitter (X)
                  every single comment/opinion about inflation.
                </p>
                <p class="small mt-2">
                  And for count data, choose any number you want to scrape from
                  the API (max 100 comments).
                </p>
                <p class="small mt-2">
                  After you download the data, please add a column right after
                  the text column named "sentiment". The class is 1 for
                  positive, 0 for neutral, or -1 for negative. You can use
                  number or text for sentiment class.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
