{% extends "layout/base.html" %} {% block title %}Home{% endblock %} {% block
content %}

<section
  class="h-100 gradient-form"
  style="background-color: rgb(237, 243, 243)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-2 pb-1">Introduction</h4>
                  <p>
                    The presidential election will be held in 2024 will spread
                    many of society's arguments for para lined up presidential
                    and vice presidential candidates. Opinions, comments,
                    arguments, There will always be a lot of public opinion at
                    any time, plus with the increasingly widespread internet.
                    But this makes it problem, where the community is minimal or
                    even non-existent have knowledge in Indonesian language
                    literacy easily provoked and trapped in problems allowing
                    them to be confused. Currently there are 2 things that
                    ordinary people must master, namely linguistic literacy and
                    digital literacy. Digital literacy is key the main thing in
                    using the internet today, because without it Hoaxes, fraud,
                    cyber bullying will become widespread
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
