{% extends "layout/base.html" %} {% block title %}Naive Bayes{% endblock %} {%
block content %}
<section
  class="h-100 gradient-form"
  style="background-color: rgb(237, 243, 243)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-2 pb-1">
                    Learning & testing Naïve Bayes model
                  </h4>
                  <div class="card-body">
                    <form action="/input_param" method="POST">
                      <label for="test_size">Test Size:</label>
                      <input
                        type="number"
                        id="test_size"
                        name="test_size"
                        step="0.01"
                        min="0"
                        max="1"
                        value="0.1"
                        required
                      />
                      <br />
                      <br />
                      <label for="random_state">Random State:</label>
                      <input
                        type="number"
                        id="random_state"
                        name="random_state"
                        min="0"
                        value="1"
                        required
                      /><br /><br />

                      <input type="submit" value="Submit" />
                      <br />
                      <br />
                    </form>
                    <p>
                      Learning result with random_state {{ random_state }} and
                      test size {{ test_size }}
                    </p>
                    <h6>
                      Akurasi yang didapat dari data train sebesar
                      <b>{{ accuracy }}</b> ditambah dengan hasil lain berupa:
                    </h6>
                    <table
                      border="1"
                      cellpadding="10"
                      text-align="center"
                      class="mx-auto"
                    >
                      <tr
                        style="
                          background-color: rgb(209, 173, 126);
                          color: black;
                        "
                      >
                        <td>Precision</td>
                        <td>Recall</td>
                        <td>F1-Score</td>
                      </tr>
                      <tr>
                        <td>{{ precision }}</td>
                        <td>{{ recall }}</td>
                        <td>{{ f1 }}</td>
                      </tr>
                    </table>
                    <br />
                    <br />
                    <form method="post" action="/predict">
                      <label for="text">Masukkan teks</label><br />
                      <textarea
                        name="text"
                        id="text"
                        cols="50"
                        rows="5"
                        required
                        placeholder="Pak Jokowi harusnya tidak bertindak seperti itu!!"
                      ></textarea>
                      <br /><br />
                      <input type="submit" value="Predict" />
                    </form>
                    {% if prediction is not none %}
                    <h3>Result:</h3>
                    <h1>{{ prediction }}</h1>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
