{% extends "layout/base.html" %} {% block title %}Pre-processing{% endblock %}
{% block content %}
<section
  class="h-100 gradient-form"
  style="background-color: rgb(237, 243, 243)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-2 pb-1 justify-content-center">
                    Pre-processing data
                  </h4>
                </div>
                <form
                  method="POST"
                  role="form"
                  class="form-horizontal"
                  enctype="multipart/form-data"
                >
                  <div class="d-flex justify-content-center mt-2">
                    <input
                      type="file"
                      class="form-control-file"
                      accept="file/*"
                      name="file"
                    />
                  </div>
                  <div class="d-inline-flex justify-content-center mt-3">
                    <button
                      type="submit"
                      class="btn btn-outline-primary"
                      name="submit"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
