{% extends "layout/base.html" %} {% block title %}TF-IDF{% endblock %} {% block
content %}
<section
  class="h-100 gradient-form"
  style="background-color: rgb(237, 243, 243)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-2 pb-1">
                    Term Frequency - Inverse Document Frequency (TF-IDF) Scores
                  </h4>
                </div>
                <div class="table-responsive">{{ tables[0] | safe}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
